input.num{
  width: 100%;
  font-size: 36px;
}
.text-big{
  font-size: 36px;
}

time-input{
  display: block;
}
.dropdown-menu-time-input  .btn{
  text-align:center;
}
.dropdown-menu-time-input  .num{
  text-align:center
}
